@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="padding: 1em;">Bienvenido a la Gestion de Autores - Libros</h1>
     <img src="https://www.gandhi.com.mx/media/wysiwyg/libro_pantalla_marzo_2024.jpg" alt="" style="max-width: 80%;"/>
    
    <h1 class="display-8" style="padding: 1em;">Sitio Creado por: Bruno Uriel Flores Hernandez</h1>

    <div class="home-banner ediciones-gandhi">
        <img src="https://brunocuenta.blob.core.windows.net/contenedorbruno/ediciones-gandhi.jpg" alt="" style="max-width: 80%;"/>
    </div>






    <div class="footer-web-sites">
    <ul>
    <li>
    <a href="https://sellosdeconfianza.org.mx/MuestraCertificado.php?NUMERO_SERIE=SC_b14">
    <img data-srclazy="https://www.gandhi.com.mx/media/footer/sello_internet.jpg" style="max-width: 180px;" alt="" class="" width="180" height="91" src="https://www.gandhi.com.mx/media/footer/sello_internet.jpg">
    </a>
    </li>
    <li>
    <a href="https://www.gandhi.com.mx/libroabierto">
    <img data-srclazy="https://www.gandhi.com.mx/media/footer/Libro-abierto.png" style="max-width: 180px;" alt="" class="" width="124" height="67" src="https://www.gandhi.com.mx/media/footer/Libro-abierto.png">
    </a>
    </li>
    <li class="footer-email">
        <a href="mailto:elcliente@gandhi.com.mx">
            <img data-srclazy="https://www.gandhi.com.mx/media/footer/footer-email.png" alt="" class="" width="40" height="40" src="https://www.gandhi.com.mx/media/footer/footer-email.png">
            
        </a>
    </li>
    <li>
    <a href="https://wa.me/5215630073473?text=inicio" target="_blank">
    <img src="https://www.gandhi.com.mx/media/wysiwyg/wysiwyg/whats.jpg" alt="">
    </a>
    </li>
    </ul>
    </div>
</div>
