@{
    ViewData["Title"] = "Historia de Gandhi";
}
<h1>@ViewData["Title"]</h1>

<div data-enable-parallax="0" data-parallax-speed="0.5" data-background-images="{}" data-background-type="image" data-video-loop="true" data-video-play-only-visible="true" data-video-lazy-load="true" data-video-fallback-src="" data-element="inner" style="justify-content: flex-start; display: flex; flex-direction: column; background-position: left top; background-size: cover; background-repeat: no-repeat; background-attachment: scroll; border-style: none; border-width: 1px; border-radius: 0px; margin: 0px 0px 10px; padding: 10px;"><div data-content-type="html" data-appearance="default" data-element="main" style="border-style: none; border-width: 1px; border-radius: 0px; margin: 0px; padding: 0px;" data-decoded="true"><p><strong>Librerías Gandhi</strong> se fundó en junio de 1971. El local original medía unos 150 m2 y estaba ubicado en Miguel Ángel de Quevedo 128, al sur de la ciudad de México. Aunque era pequeña, la librería tenía su cafetería en el mezanine, donde también se desarrollaron las primeras actividades culturales (funciones de cine, teatro, música, etc.) que fueron una característica de Gandhi en los años posteriores.</p>
<p>Al día de hoy <strong>Librerías Gandhi</strong> tiene presencia en Ciudad de México y en varios estados de la república mexicana, ( <a href="https://www.gandhi.com.mx/sucursales" target="_blank">Ver librerías</a> ) además, <strong>Librerías Gandhi</strong> en Palacio de Hierro y Walmart Supercenters. Entre todos, el personal de <strong>Gandhi</strong>, sus proveedores y sus clientes, hemos hecho de nuestra empresa la cadena más importante de librerías profesionales de México, y seguramente una de las más importantes de América Latina.</p>
<p>Nuestro público está compuesto principalmente por hombres y mujeres estudiantes, maestros, profesionales e intelectuales, y todos los que sienten interés por la cultura y buscan información y entretenimiento.</p>
<p>Además de los distintos géneros de libros ofrecemos lo mejor de la música y video nacional e internacional.</p>
<p><img style="width: 100%;" src="https://www.gandhi.com.mx/media/wysiwyg//cms/history.jpg" alt=""></p>
<p>Constantemente brindamos a nuestros clientes diferentes servicios y promociones que enriquecen su experiencia de compra. Adicionalmente facilitamos espacios de expresión, en donde se llevan a cabo diferentes eventos y actividades culturales.</p>
<p><strong>Librerías Gandhi</strong> se ha convertido en referencia inevitable para el mundo cultural e intelectual de México.</p>
<p>Estamos muy orgullosos por lo que hemos hecho, y por eso nos hemos propuesto continuar nuestro crecimiento, en beneficio de la cultura de nuestro país.</p>
<p>Dentro de los planes de expansión de <strong>Librerías Gandhi</strong> está el abrir nuevas sucursales en diferentes puntos de la República.</p></div></div>
